<div>
    <input type="text" placeholder="First Name" id="firstName" />
    <input type="text" placeholder="Last Name" id="lastName" />
    <input type="text" placeholder="Address" id="address" />
    <input type="text" placeholder="Contact number" id="contact" />
    <input type="text" placeholder="Email" id="email" />
    <input type="text" placeholder="Gender" id="gender" />
    <button id="btnSaveCustomer">Save</button>
</div>
<script src="~/Scripts/Customers.js"></script>

