

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="d-flex panel">
    <div></div>
    <div class="search">
        <input type="text" placeholder="Search.." name="search" maxlength="50" id="txtSearch" /><button id="btnSearch"><i class="fa fa-search"></i></button>
    </div>
    <div>
        <button id="btnAddCustomer" type="button" class="btn btn-primary">  <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add</button>
        <button id="btnDeleteCustomers" type="button" class="btn btn-primary"> <i class="fa fa-trash"></i> &nbsp; Delete</button>
        <button id="btnArchiveCustomers" type="button" class="btn btn-primary"> <i class="fa fa-archive"></i> &nbsp; Archive</button>
    </div>
</div>

<div id="partialPage">
    @Html.Partial("_partialCustomerList")
</div>



<script src="~/Scripts/Customers.js"></script>